{% extends 'base.html.twig' %}

{% block title %}Maesterclass{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}

{% block body %}
    <header>
        <h1>Apprenez le piano comme il faut avec JJ Futterer</h1>

        <p><a class="btn header-btn" href="">Commencez dès maintenant</a></p>
    </header>

    <div id="home-main">
        <section id="why">
            <h2>POURQUOI ICI ET PAS AILLEURS ?</h2>
            <p>Chez insert_name vous apprendrez le piano de la bonne façon, pas à base d’exercices faciles et insensés mais avec un vrai professeur ayant 30 ans de carrière.
                Le chemin ne sera pas facile mais il sera efficace, ce n’est pas en apprenant Au clair de la Lune que vous deviendrez le prochain Bach !</p>
        </section>

        <section id="how">
            <div id="schema"></div>
            <div id="how-text">
                <h2>Comment ça marche</h2>
            </div>
        </section>

        <section id="reviews">
            <h2>Avis d'élèves</h2>
            <div class="review"></div>
        </section>
    </div>


{% endblock %}
