.home-page main{
    margin: 0;
}

#home-main > :not(#how){
    margin: 0 100px;
}

.home-page h2{
    font-size: 24px;
}

.home-page p{
    font-size: 20px;
}

/* HEADER */

    .home-page nav{
        position: absolute !important;
    }

    header{
        padding: 100px 0;
        width: 100%;
        background:linear-gradient(rgba(15, 15, 15, 0.7), rgba(15, 15, 15, 0.7)), url(../img/piano.webp) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-btn{
        transition: all 250ms ease;
        background: transparent;
        color: var(--white) !important;
        font-weight: 600;
    }

    .header-btn:hover{
        border-color: var(--blue);
        color: var(--blue) !important;
        box-shadow: inset 0px 0px 100px -50px #ffffff80;
    }

    .maester{
        color: var(--blue);
    }

/* WHY */

    #why{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    #why figure{
        text-align: center;
    }

    figure figcaption{
        margin-top: 10px;
    }

/* HOW */

    #how{
        background-color: var(--white);
        color: var(--darkblue1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 100px;
        height: auto;
    }

    #how > div{
        margin: 0 50px;
    }

    #schema{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
    }

    #schema h2{
        margin: 20px 0
    }

    #schema h3{
        margin: 10px 0;
    }

    .chevrons{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .chevrons i{
        margin: -5px 0;
    }

    #how > .separator{
        width: 5px;
        height: auto;
        align-self: stretch;
        background-color: var(--darkblue1);
    }


/* REVIEWS */

    #reviews{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .reviews-titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 50px;
    }

    .filtre form #filter{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
    }

    select{
        font-size: 18px !important;
    }

    .select label{
        font-size: 18px !important;
    }

    .select-submit{
        font-size: 18px !important;
    }

    .review-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .review-wrapper > :nth-child(odd){ align-self: flex-start; }
    .review-wrapper > :nth-child(even){ align-self: flex-end; }


    .review{
        display: flex;
        flex-direction: column;
        width: 40%;
        background-color: var(--white);
        color: var(--blue) !important;
        border-radius: 15px;
        padding: 10px 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    }

    .review-top{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }

    .review-top h3{
        margin: 0;
        font-size: 24px;
    }

    .review-text{
        display: flex;
        align-items: flex-start;
        width: 100%;
        font-size: 16px;
    }

    #reviews p{
        font-size: 16px;
    }


    .review-bottom{
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        align-items: center;
    }

    .notes{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .review-form{
        align-self: flex-start;
        margin: 50px 0;
    }

    /* .review-form #avis{
        gap: 10px;
    } */

    .review-form summary{
        font-size: 24px;
    }

    .review-form form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        padding: 20px 0;
    }

    .avis-textarea{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .avis-textarea textarea{
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .note-label{
        align-self: flex-start;
    }

    .radio{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .radio input[type=radio]{
        appearance: none;
        border: 2px solid var(--white);
        border-radius: 50%;
        width: 33px;
        height: 33px;
        background-clip: content-box;
        z-index: 1;
        transition: all 250ms ease;
    }

    .radio input[type=radio]:checked{
        background-color: var(--white);
        padding: 4px;
        border: 2px solid var(--white);
    }

    .radio label{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .radio label span{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 3px;
        right: 30px;
        z-index: 2;
        color: var(--white);
        pointer-events: none;
    }

    .note-desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .note-desc p{
        margin-top: 0;
    }

    .radio input[type=radio]:checked + label span{
        color: var(--blue);
    }

    .avis-submit{
        border: 1px solid var(--white);
        width: 100%;
    }

/* MOBILE CSS */
@media only screen and (max-width: 768px) {

    #why{
        flex-direction: column;
    }

    #how{
        flex-direction: column;
    }

    #how #schema{
        margin: 25px 0;
    }

    #how > .separator{
        width: 100%;
        height: 5px;
        align-self: center;
        background-color: var(--darkblue1);

    }

    .reviews-titre{
        flex-direction: column !important;
        flex-wrap: wrap;
        width: fit-content;
    }

    .review-wrapper{
        width: fit-content;
        gap: 20px;
    }

    .review-wrapper > :nth-child(n){ align-self: center !important;}


    .review{
        min-width: fit-content;
        width: 100%;
    }

    .review-form{
        align-self: center;
    }
}