@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --white: #fff;
    --black: #070707;
    --blue: #2C6B8E;
}

body{
    font-family: 'League Spartan', sans-serif;
    color: var(--white);
    background: rgb(44,107,142);
    background: linear-gradient(0deg, rgba(44,107,142,1) 0%, rgba(51,77,144,1) 100%);
    height: 100vh;
    margin: 0;
}

a{
    color: var(--white);
}

a:visited{
    color: var(--white);
}

a:active{
    color: var(--white);
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 50px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    margin: 0 10px;
    transition: all 300ms ease;
}

.nav-link a{
    text-decoration: none;
    font-size: 24px;
}

.nav-link:hover{
    font-weight: 600;
}

.nav-link a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.line{
    width: 2px;
    height: 30px;
    background-color: var(--white);
    margin: 0 2px;
}

.logo{
    margin-left: 10px;
}

.logo img{
    width: 75px;
    height: fit-content;
}

.bleu{
    color: var(--blue);
}

header{
    padding: 100px 0;
    width: 100vw;
    background:linear-gradient(rgba(15, 15, 15, 0.7), rgba(15, 15, 15, 0.7)), url(../img/piano.webp) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    margin: 20px 100px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}

.checkbox{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
}

.header-btn{
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--blue) !important;
    font-weight: 600;
}

.add-btn{
    border: 3px solid var(--white);
}