@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --white: #fff;
    --black: #070707;
    --blue: #2C6B8E;
    --darkblue1: #13445f;
    --darkblue2: #0a293a;

}


*{
    scroll-behavior: smooth;
}

body{
    font-family: 'League Spartan', sans-serif;
    color: var(--white);
    background: linear-gradient(0deg, rgba(44,107,142,1) 0%, rgba(51,77,144,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* GENERAL */

    main{
        margin: 0 100px;
    }


    a{
        color: var(--white);
    }

    a:visited{
        color: var(--white);
    }

    a:active{
        color: var(--white);
    }

    .no-underline{
        text-decoration: none;
    }

    .line{
        width: 2px;
        height: 30px;
        background-color: var(--white);
        margin: 0 2px;
    }

    .btn{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid var(--white);
        cursor: pointer;
    }

    .add-btn{
        border: 3px solid var(--white);
    }

    .bleu{
        color: var(--blue);
    }

/* NAVBAR */

    nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        margin-bottom: 50px;
    }

    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .nav-link{
        margin: 0 10px;
        transition: all 300ms ease;
    }

    .nav-link a{
        text-decoration: none;
        font-size: 24px;
    }

    .nav-link:hover{
        font-weight: 600;
    }

    .nav-link a::before {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .logo{
        margin-left: 10px;
    }
    
    .logo img{
        width: 75px;
        height: fit-content;
    }
    
/* FORMS */

    .form-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 10px;
    }

    .checkbox{
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 10px;
    }

    textarea.form{
        width: 100%;
    }

/* PAGE D'ACCUEIL */

    header{
        padding: 100px 0;
        width: 100vw;
        background:linear-gradient(rgba(15, 15, 15, 0.7), rgba(15, 15, 15, 0.7)), url(../img/piano.webp) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-btn{
        background-color: rgba(255, 255, 255, 0.8);
        color: var(--blue) !important;
        font-weight: 600;
    }



/* CONNEXION */

    .login{
        background-color: var(--white);
        color: var(--blue);
        width: fit-content;
        border-radius: 15px;
        padding: 30px;
    }


/* ETAPE */

    #etape{
        display: flex;
        justify-content: space-between;
        border-top: 4px solid var(--white);
    }

    /* SIDEBAR */

        #sidebar{
        }

        #sidebar ul{}

        #sidebar li{
            list-style: none;
            font-size: 20px;
            margin: 10px 0;
            transition: all 250ms ease;
        }

        #sidebar li:hover{
            font-weight: 700;
        }

    /* SEPARATEUR */

        .separator{
            width: 5px;
            height: auto;
            align-self: stretch;
            background-color: var(--white);
            margin: 0 50px;
        }

    /* MAIN */

        #etape-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 50px 150px;
        }

        h1{
            font-size: 32px;
        }

        /* INTRO */

            .titre{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        
        /* VIDEO */

            .video{
                width: 100%;
            }

            .yt-video{
                width: 100%;
                aspect-ratio: 16 / 9;
            }

        /* PDF */

            .pdf{
                width: 100%;
                height: 100%;
            }

            .pdf-file{
                width: 100%;
                height: 1200px;
            }
    
        
        /* MODAL */

            dialog[open]{
                padding: 20px;
                background-color: var(--white);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: fit-content;
            }
            
            dialog:not([open]){
                display: none !important;
            }
            
            .modal-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .modal-btns{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .modal-btn{
                color: var(--blue) !important;
                border: 3px solid var(--blue);
                border-radius: 15px;
                margin: 15px;
                padding: 10px;
                text-align: center;
            }
            
            .blur{
                filter: blur(4px);
            }
        

        /* FORUM */

            #forum{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .post-wrapper{
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: var(--darkblue2);
                border-radius: 15px;
                padding: 10px 15px;
                margin: 50px;
            }

            .op{
                margin: 20px 0;
                align-self: flex-start;
            }

            .reponse{
                margin: 10px 0;
                align-self: flex-end;
            }

            .post{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--darkblue1);
                border-radius: 15px;
                width: fit-content;
                padding: 10px 15px;
            }

            .post h3{
                align-self: flex-start;
                margin-right: 10px;
            }

            .post-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .post-bottom{
                align-self: flex-end;
            }

            .reponseForm{
                display: none;
                width: 100%;
            }

            .reponseForm .form{
                width: 100%;
            }

            .post-form{
                background-color: var(--darkblue1);
                border-radius: 15px;
                padding: 10px 15px;
            }
