{% extends 'base.html.twig' %}

{% block title %}
Modification du mot de passe
{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>Modifier mot de passe</h1>
            
        {{ form(formChangePassword) }}
    </div>
    
{% endblock %}