{% extends 'base.html.twig' %}

{% block title %}
Modification du mot de passe
{% endblock %}

{% block body %}
    <h1>Modifier mot de passe</h1>
          
    {{ form(formChangePassword) }}

{% endblock %}