{% extends 'base.html.twig' %}

{% block title %}Liste des étapes{% endblock %}

{% block body %}

    {% for niveau in niveaux %}
        <h2>{{niveau.nomNiveau}}</h2>

        {% for etape in niveau.Etapes %}
            <h3> {{etape.nomEtape}} </h3>
            <p> {{etape.description}} </p>
        {% endfor %}

    {% endfor %}

{% endblock %}
