{% extends 'base.html.twig' %}

{% block title %}

    {% if edit %}
        Editer une etape
    {% else %}
        Ajouter une etape
    {% endif %}

{% endblock %}

{% block body %}

    {% if edit %}
    <h1>Editer un etape</h1>
          
    {% else %}
    <h1>Ajouter un etape</h1>
    {% endif %}

    {{ form(formAddEtape) }}

{% endblock %}