{% extends 'base.html.twig' %}

{% block title %}Liste des niveaux{% endblock %}

{% block body %}

    <a class="btn add-btn" href="{{ path('new_niveau')}}">Ajouter un niveau</a>

    {% for niveau in niveaux %}
        <h2><a href="{{ path('show_niveau', {'id': niveau.id}) }}">{{niveau}}</a></h2>
    {% endfor %}

{% endblock %}
