{% extends 'base.html.twig' %}

{% block title %}Liste des niveaux{% endblock %}

{% block body %}

    {% for niveau in niveaux %}
        <h2><a href="{{ path('show_niveau', {'id': niveau.id}) }}">{{niveau.nomNiveau}}</a></h2>
        <ul>
            {% for etape in niveau.etapes %}
                <li>{{etape.nomEtape}}</li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
