{% extends 'base.html.twig' %}

{% block title %}{% if edit %}
Editer un niveau
{% else %}
Ajouter un niveau
{% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Editer un niveau</h1>
          
    {% else %}
    <h1>Ajouter un niveau</h1>
    {% endif %}

    <div class="form-wrapper">
        {{ form(formAddNiveau) }}
    </div>
    
{% endblock %}