{% extends 'base.html.twig' %}

{% block title %}{{ niveau.nomNiveau }}{% endblock %}

{% block body %}

    <h1>{{niveau.nomNiveau}}</h1>

    {% for etape in etapes %}
        <h2> {{ etape.nomEtape }} </h2>
        <p> {{ etape.description }} </p>
    {% endfor %}

{% endblock %}